@model ATAarhitektonskiStudio.Areas.Admin.Models.EditProjectViewModel
@{
    ViewBag.Title = "Uredi projekat";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <h2>Dodaj novi projekat</h2>

    @Html.ValidationSummary()

    @using (Html.BeginForm("SaveEditedProject", "ProjectsManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Meta keywords:</label>
                    @Html.TextBoxFor(m => m.MetaKeywords, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.MetaKeywords)
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Meta description:</label>
                    @Html.TextBoxFor(m => m.MetaDescription, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.MetaDescription)
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Naziv projekta:</label>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="form-group">
                    <label>Lokacija:</label>
                    @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Location)
                </div>
                <div class="form-group">
                    <label>Kvadratura:</label>
                    @Html.TextBoxFor(m => m.SquareMeters, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SquareMeters)
                </div>
                <div class="form-group">
                    <label>Godina izgradnje:</label>
                    @Html.TextBoxFor(m => m.YearBuilt, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.YearBuilt)
                </div>
                <div class="form-group">
                    <label>Investitor:</label>
                    @Html.TextBoxFor(m => m.Investor, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Investor)
                </div>
                <div class="form-group">
                    <label>Tip:</label>
                    @Html.TextBoxFor(m => m.Type, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Type)
                </div>
                <div class="form-group">
                    <label>Nivo:</label>
                    @Html.TextBoxFor(m => m.Level, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Level)
                </div>
                <div class="form-group">
                    <label>Tekst:</label>
                    @Html.TextAreaFor(m => m.Text, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Text)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Naziv projekta (eng):</label>
                    @Html.TextBoxFor(m => m.NameEng, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.NameEng)
                </div>
                <div class="form-group">
                    <label>Lokacija (eng):</label>
                    @Html.TextBoxFor(m => m.LocationEng, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LocationEng)
                </div>
                <div class="form-group">
                    <label>Kvadratura (eng):</label>
                    @Html.TextBoxFor(m => m.SquareMetersEng, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SquareMetersEng)
                </div>
                <div class="form-group">
                    <label>Godina izgradnje (eng):</label>
                    @Html.TextBoxFor(m => m.YearBuiltEng, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.YearBuiltEng)
                </div>
                <div class="form-group">
                    <label>Investitor (eng):</label>
                    @Html.TextBoxFor(m => m.InvestorEng, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.InvestorEng)
                </div>
                <div class="form-group">
                    <label>Tip (eng):</label>
                    @Html.TextBoxFor(m => m.TypeEng, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.TypeEng)
                </div>
                <div class="form-group">
                    <label>Nivo (eng):</label>
                    @Html.TextBoxFor(m => m.LevelEng, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LevelEng)
                </div>
                <div class="form-group">
                    <label>Tekst (eng):</label>
                    @Html.TextAreaFor(m => m.TextEng, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.TextEng)
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>Youtube video link:</label>
                    @Html.TextBoxFor(m => m.YoutubeVideoLink, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.YoutubeVideoLink)
                </div>
                <div class="form-group">
                    <label style="color: transparent">Aktivan:</label>
                    <div class="inputGroup">
                        @Html.CheckBoxFor(m => m.isActive)
                        <label for="isActive">Prikaži na stranici</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>Slike:</label>
                    <input style="padding: 3px;" class="form-control" type="file" name="file" multiple="multiple" accept="image/*" id="images">
                </div>
                <small class="mb-2 text-center d-block">Za promjenu redoslijeda slika, koristite metodu drag and drop.</small>
                <div class="container-fluid imagesPlaceholder">
                    <div class="row dragableImagesContainer" id="ImagesContainer">
                        @foreach (var s in Model.EditImagesList)
                        {
                            <div class="col-12 sortable-image" id="@s.Id">
                                <div class="card mb-4">
                                    <a id="DeleteImageButton" role="button" href="javascript: void(0);" class="btn btn-danger delete-image">
                                        <i class="fa fa-times"></i>
                                        <input type="hidden" name="ImageId" class="ImageId" value="@s.Id" />
                                    </a>
                                    <img class="card-img-top card-img-bottom draggableHandleImage" src="~/@s.FilePath/@s.FileName" alt="@s.FileName">
                                    <span class="img-name">@s.FileNameNoExt</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.Id)
        @Html.AntiForgeryToken()
        <input type="submit" class="btn btn-block btn-primary" value="Spasi" />
    }
</div>

<!-- Modal -->
<div class="modal fade custom-modal" id="LargeFileModal" tabindex="-1" role="dialog" aria-labelledby="LargeFileModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="LargeFileModalTitle">Upozorenje!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Veličina odabranih fajlova je prevelika. Molimo odaberite manje fajlove.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#ImagesContainer').sortable({
            delay: 150,
            opacity: 0.5,
            axis: "y",
            handle: ".draggableHandleImage",
            scroll: true,
            scrollSensitivity: 100,
            stop: function (event, ui) {
                var images = [];
                $(this).children().each(function (index) {
                    images.push({
                        'id': $(this).attr("id"),
                        'SortOrder': index
                    });
                });
                $.ajax({
                    url: "/api/ProjectImages/SetImagesOrder",
                    method: "POST",
                    data: { '': images }
                }).done(function () {
                    toastr.success("Redoslijed slika uspješno izmijenjen.");
                }).fail(function () {
                    toastr.error("Greška! Novi redoslijed nije spašen.");
                });
            }
        });
    </script>
    <script>
        $('#Text').summernote({
            height: 350,
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                //['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['undo', ['undo']],
                ['redo', ['redo']]
            ],
        });
        $('#TextEng').summernote({
            height: 350,
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                //['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['undo', ['undo']],
                ['redo', ['redo']]
            ],
        });
    </script>
    <script>
		$(document).delegate('#DeleteImageButton', 'click', function (e) {
			e.preventDefault();
			$.ajax({
				type: "post",
				url: "@Url.Action("DeleteImage", "ProjectsManager")",
				ajaxasync: true,
				data: { id: $(this).find('.ImageId').val() },
				success: function () {
                    window.location.href = '/Admin/ProjectsManager/EditProject/' + @Model.Id;
				},
				error: function (data) {
					alert(data.x);
				}
			});
		});
    </script>
    <script>
        var uploadField = document.getElementById("images");

        uploadField.onchange = function () {
            if (this.files[0].size > 2000000000) {
                //alert("Odabrali ste prevelike slike. Molimo odaberite manje.");
                $('#LargeFileModal').modal('show')
                this.value = "";
            };
        };
    </script>
}