<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ATA</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/userCss")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid menu-container fixed-top">
        <div class="top-bar clearfix">
            <div class="top-bar-items float-right">
                <a class="social" target="_blank" href="https://www.facebook.com/struixTeam/"><i class="fab fa-facebook-f"></i></a>
                <a class="social" target="_blank" href="https://www.instagram.com/_struix_/"><i class="fab fa-instagram"></i></a>
                <a class="social" target="_blank" href="https://twitter.com/NemanjaPu/"><i class="fab fa-twitter"></i></a>
                <a href="" class="setLang" data-lang="bs"><img src="~/Content/images/bosnia-and-herzegovina.png"/></a>
                <a href="" class="setLang" data-lang="en-US"><img src="~/Content/images/united-kingdom.png"/></a>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">
                <img src="~/Content/images/logo-black.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fas fa-plus mr-1"></i>@RGlobal.Projects
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">jedan</a>
                            <a class="dropdown-item" href="#">dva</a>
                            <a class="dropdown-item" href="#">tri</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">@RGlobal.Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.HttpRouteUrl(this.Culture==GlobalHelper.DefaultCulture ? "Default" : "LocalizedDefault",new { lang=GlobalHelper.CurrentCulture, action="Index", controller="Contact"})">@RGlobal.Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>
    <div class="powered">Powered by <a target="_blank" href="https://www.instagram.com/_struix_/"><img src="~/Content/images/struix.png" alt="Struix" /></a></div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/userScripts")

    <script>
        $(document).ready(function () {
            var lang = MultiLanguageDemo.Cookies.getCookie("LangForMultiLanguageDemo");

            $(".setLang").on("click", function (event) {
                var lang = $(this).attr("data-lang");
                MultiLanguageDemo.Cookies.setCookie("LangForMultiLanguageDemo", lang, 30);
                location.reload(true);
            })
        });
    </script>
</body>
</html>
