<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title ATA Arhitektonski studio Sarajevo</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:image" content="http://atastruix-001-site1.btempurl.com/Content/images/logo.png">
    <meta property="og:image:type" content="image/png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/bootstrapCss")
    @Styles.Render("~/Content/userCss")
</head>
<body>
    <div class="container-fluid menu-container fixed-top">
        <div class="top-bar clearfix">
            <div class="top-bar-items float-right">
                @if (!string.IsNullOrEmpty(ATAarhitektonskiStudio.Helpers.GlobalHelper.GetFacebook()))
                {
                    <a class="social" target="_blank" href="@ATAarhitektonskiStudio.Helpers.GlobalHelper.GetFacebook()">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                }
                @if (!string.IsNullOrEmpty(ATAarhitektonskiStudio.Helpers.GlobalHelper.GetTwitter()))
                {
                    <a class="social" target="_blank" href="@ATAarhitektonskiStudio.Helpers.GlobalHelper.GetTwitter()">
                        <i class="fab fa-twitter"></i>
                    </a>
                }
                @if (!string.IsNullOrEmpty(ATAarhitektonskiStudio.Helpers.GlobalHelper.GetInstagram()))
                {
                    <a class="social" target="_blank" href="@ATAarhitektonskiStudio.Helpers.GlobalHelper.GetInstagram()">
                        <i class="fab fa-instagram"></i>
                    </a>
                }
                @if (!string.IsNullOrEmpty(ATAarhitektonskiStudio.Helpers.GlobalHelper.GetYoutube()))
                {
                    <a class="social" target="_blank" href="@ATAarhitektonskiStudio.Helpers.GlobalHelper.GetYoutube()">
                        <i class="fab fa-youtube"></i>
                    </a>
                }
                @if (!string.IsNullOrEmpty(ATAarhitektonskiStudio.Helpers.GlobalHelper.GetPinterest()))
                {
                    <a class="social" target="_blank" href="@ATAarhitektonskiStudio.Helpers.GlobalHelper.GetPinterest()">
                        <i class="fab fa-pinterest-p"></i>
                    </a>
                }
                @if (!string.IsNullOrEmpty(ATAarhitektonskiStudio.Helpers.GlobalHelper.GetLinkedin()))
                {
                    <a class="social" target="_blank" href="@ATAarhitektonskiStudio.Helpers.GlobalHelper.GetLinkedin()">
                        <i class="fab fa-linkedin"></i>
                    </a>
                }
                @if (!string.IsNullOrEmpty(ATAarhitektonskiStudio.Helpers.GlobalHelper.GetGooglePlus()))
                {
                    <a class="social" target="_blank" href="@ATAarhitektonskiStudio.Helpers.GlobalHelper.GetGooglePlus()">
                        <i class="fab fa-google-plus"></i>
                    </a>
                }
                <a href="" class="setLang" data-lang="bs"><img src="~/Content/images/bosnia-and-herzegovina.png" /></a>
                <a href="" class="setLang" data-lang="en"><img src="~/Content/images/united-kingdom.png" /></a>
            </div>
        </div>
        <nav class="navbar navbar-expand-md">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="~/Content/images/logo.png">
            </a>
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation" id="openMenu">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <button class="navbar-toggler" type="button" aria-label="Toggle navigation" id="closeMenu">
                    <span class="navbar-toggler-icon">
                        <i class="fas fa-times"></i>
                    </span>
                </button>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown @(ViewContext.RouteData.Values["Controller"].ToString() == "Projects"  ? "active" : "")">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <i class="fas fa-plus mr-1"></i>@RGlobal.Projects
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="projectsMenu">
                            @*<a class="dropdown-item" href="#">jedan</a>*@
                        </div>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Profile"  ? "active" : "")">
                        <a class="nav-link" href="@Url.Action("Index", "Profile")">@RGlobal.Profile</a>
                    </li>
                    <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Contact"  ? "active" : "")">
                        <a href="@Url.Action("Index", "Contact")" class="nav-link">@RGlobal.Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>
    <div class="powered">Powered by <a target="_blank" href="https://www.instagram.com/_struix_/"><img src="~/Content/images/struix.png" alt="Struix" /></a></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/userScripts")

    <script>
        $(document).ready(function () {
            var lang = MultiLanguageDemo.Cookies.getCookie("LangForMultiLanguageDemo");

            $(".setLang").on("click", function (event) {
                var lang = $(this).attr("data-lang");
                MultiLanguageDemo.Cookies.setCookie("LangForMultiLanguageDemo", lang, 1);
                location.reload(true);
            })
        });
    </script>
    @{
        string cc = GlobalHelper.CurrentCulture;
    }
    @if (cc != "en")
    {
        <script>
            $(function () {
                $(document).ready(function () {
                    $.ajax({
                        type: "GET",
                        url: "/api/ProjectsApi",
                        dataType: "json",
                        success: function (data) {
                            var textOutput = "";
                            for (var i = 0; i < data.length; i++) {
                                textOutput += '<a class="dropdown-item" ';
                                textOutput += 'href="/projects/project/' + data[i].Id + '">';
                                textOutput += data[i].Name + '</a>';
                            }
                            $('#projectsMenu').html(textOutput);
                        },
                        failure: function (errMsg) {
                            alert(errMsg);
                        }
                    });
                })
            })
        </script>
    }
    else
    {
        <script>
            $(function () {
                $(document).ready(function () {
                    $.ajax({
                        type: "GET",
                        url: "/api/ProjectsApi",
                        dataType: "json",
                        success: function (data) {
                            var textOutput = "";
                            for (var i = 0; i < data.length; i++) {
                                textOutput += '<a class="dropdown-item" ';
                                textOutput += 'href="/projects/project/' + data[i].Id + '">';
                                textOutput += data[i].NameEng + '</a>';
                            }
                            $('#projectsMenu').html(textOutput);
                        },
                        failure: function (errMsg) {
                            alert(errMsg);
                        }
                    });
                })
            })
        </script>
    }
</body>
</html>