@model IEnumerable<ATAarhitektonskiStudio.ViewModels.ProjectListMenuViewModel>

@{
    string cc = GlobalHelper.CurrentCulture;
}

@if (cc != "en-US")
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
            <i class="fas fa-plus mr-1"></i>@RGlobal.Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            @foreach (var item in Model)
            {
                <a class="dropdown-item" href="@Url.Action("Project","Projects", new { @id = item.Id })">@item.Name</a>
            }
        </div>
    </li>
}
else
{
    <li class="nav-item dropdown">
        @cc
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
            <i class="fas fa-plus mr-1"></i>@RGlobal.Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            @foreach (var item in Model)
            {
                <a class="dropdown-item" href="@Url.Action("Project","Projects", new { @id = item.Id })">@item.NameEng</a>
            }
        </div>
    </li>
}