@model ATAarhitektonskiStudio.Areas.Admin.Models.BlogFormViewModel
@{
    /**/

    ViewBag.Title = "EditBlog";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Uredi blog</h2>

@using (Html.BeginForm("Save", "BlogManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="Caption">Naslov:</label>
                    @Html.TextBoxFor(m => m.Caption, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Caption)
                </div>
                <div class="form-group">
                    <label for="Caption">Meta keywords:</label>
                    @Html.TextBoxFor(m => m.MetaKeywords, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.MetaKeywords)
                </div>
                <div class="form-group">
                    <label for="Caption">Meta description:</label>
                    @Html.TextBoxFor(m => m.MetaDescription, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.MetaDescription)
                </div>
                <div class="inputGroup">
                    @Html.CheckBoxFor(m => m.Active)
                    <label for="Active">Prikaži na stranici</label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Glavna slika:</label>
                    <div>
                        @Html.TextBoxFor(m => m.File, new { @class = "form-control inputfile", type = "file", id = "BlogImageInput", data_multiple_caption = "" })
                        <label class="image-input-label" for="BlogImageInput">
                            <figure>
                                <img id="preview-image-blog" src="@Model.imageName" alt="Preview Image" />
                            </figure>
                            <span>Choose a file…</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="Text">Sadržaj:</label>
                    @Html.TextAreaFor(m => m.Text, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Text)
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.Id)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-success">Spasi</button>
    </div>
}

@section scripts{
    <script>
        $(document).ready(function () {
            $("#Text").summernote({
                height: 600,
                minHeight: null,
                callbacks: {
                    onImageUpload: function (files, editor, welEditable) {

                        for (var i = files.length - 1; i >= 0; i--) {
                            sendFile(files[i], this);
                        }
                    }
                },
                fontSizes: ['10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '32', '35', '40'],
                fontNamesIgnoreCheck: ['Swis721 Lt BT Light', 'Swis721 Blk BT', 'Swiss721LightBT', 'Swiss721MediumBT', 'Swiss721HeavyBT', 'Swiss721BT', 'Swiss721CondensedBT', 'Swiss721BoldBT', 'Swiss721LightBTV1', 'Swiss721BoldCondensedBT', 'Swiss721BlackCondensedBTV1'],
                fontNames: ['Helvetica', 'sans-serif', 'Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Swis721 Lt BT Light', 'Swis721 Blk BT', 'Swiss721LightBT', 'Swiss721MediumBT', 'Swiss721HeavyBT', 'Swiss721BT', 'Swiss721CondensedBT', 'Swiss721BoldBT', 'Swiss721LightBTV1', 'Swiss721BoldCondensedBT', 'Swiss721BlackCondensedBTV1']
            });
        });
        function sendFile(file, el) {
            var form_data = new FormData();
            form_data.append('file', file);
            $.ajax({
                data: form_data,
                type: "POST",
                url: '@Url.Action("UploadImage", "BlogManager", new { area = "Admin" })',
                cache: false,
                contentType: false,
                processData: false,
                success: function (url) {
                    $(el).summernote('editor.insertImage', url);
                }
            });
        }
    </script>
    <script>
        document.getElementById("BlogImageInput").onchange = function () {
            var reader = new FileReader();

            reader.onload = function (e) {
                // get loaded data and render thumbnail.
                document.getElementById("preview-image-blog").src = e.target.result;
            };

            // read the image file as a data URL.
            reader.readAsDataURL(this.files[0]);
        };
    </script>
}