@model IEnumerable<ATAarhitektonskiStudio.Models.Blog>
@{
    ViewBag.Title = "Blogovi";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Svi blogovi</h2>

<table id="Blogs" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Postavljeno</th>
            <th>Naziv</th>
            <th>Aktivan</th>
            <th>Uredi</th>
            <th>Izbriši</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in Model)
        {
        <tr>
            <td>@b.DatePublished.ToString("dd/MM/yyyy HH:mm")</td>
            <td>@b.Caption</td>
            <td>@b.isActive</td>
            <td><a class="table-anchor" href="@Url.Action("EditBlog", "BlogManager", new { @id = b.Id })">Uredi</a></td>
            <td>
                @using (Html.BeginForm("DeleteBlog", "BlogManager", FormMethod.Post, new { @class = "DeleteListingForm" }))
                {
                    var modalId = "deleteListing" + b.Id;
                    <input type="hidden" name="Id" value="@b.Id" />
                    <a class="table-anchor" id="deleteListingBtn" data-toggle="modal" data-target="#@modalId" href="javascript:void(0);">Izbriši</a>

                    <div class="modal" tabindex="-1" role="dialog" id="@modalId">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Izbriši nekretninu</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h4>Da li ste sigurni da želite izbrisati ovaj zapis?</h4>
                                </div>
                                <div class="modal-footer">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-danger" id="ConfirmDelete">Izbriši</button>
                                    <button type="button" class="btn btn-success" data-dismiss="modal">Poništi</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </td>
        </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
		$(document).ready(function () {
            $('#Blogs').DataTable();
		});
    </script>
}