@model ATAarhitektonskiStudio.ViewModels.ProjectViewModel
@{
    ViewBag.Title = "Project";
}
@section styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.min.css" />
}

<div class="container-fluid">
    <div class="container-fluid">
        <div class="owl-carousel project-imgs-carousel">
            <div class="project-img">
                <div class="project-text px-3">
                    <h3><b>@Model.NameEng</b></h3>
                    <p class="mb-2">Location: <b>@Model.LocationEng</b></p>
                    <p class="mb-2">Type: <b>@Model.TypeEng</b></p>
                    <p class="mb-2">Year built: <b>@Model.YearBuiltEng</b></p>
                    <p class="mb-2">m<sup>2</sup>: <b>@Model.SquareMetersEng</b></p>
                    <p class="mb-2">Investor: <b>@Model.InvestorEng</b></p>
                    <p class="mb-0">@Html.Raw(Model.TextEng)</p>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(Model.YoutubeVideoLink))
            {
                <div class="project-img">
                    <div id="video"></div>
                </div>
            }
            @foreach (var item in Model.Images)
            {
                <div class="project-img">
                    <a href="~/@item.FilePath/@item.FileName" data-lightbox="listing-images-lb" class="project-img-plus"><i class="fas fa-plus"></i></a>
                    <img src="~/@item.FilePath/@item.FileName" alt="@item.FileName" />
                </div>
            }
        </div>
        <div class="mb-5 mt-3 pb-3 project-img" id="mobileProjectText">
            <div class="project-text">
                <h3><b>@Model.NameEng</b></h3>
                <p class="mb-2">Location: <b>@Model.LocationEng</b></p>
                <p class="mb-2">Type: <b>@Model.TypeEng</b></p>
                <p class="mb-2">Year built: <b>@Model.YearBuiltEng</b></p>
                <p class="mb-2">m<sup>2</sup>: <b>@Model.SquareMetersEng</b></p>
                <p class="mb-2">Investor: <b>@Model.InvestorEng</b></p>
                <p class="mb-0">@Html.Raw(Model.TextEng)</p>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox.min.js"></script>
    @Scripts.Render("~/bundles/projectScript")
    @if (!string.IsNullOrEmpty(Model.YoutubeVideoLink))
    {
        <script>
        function youtube_parser() {
            var url = "@Model.YoutubeVideoLink";
            var regExp = /^.*(?:(?:youtu\.be\/|v\/|vi\/|u\/\w\/|embed\/)|(?:(?:watch)?\?v(?:i)?=|\&v(?:i)?=))([^#\&\?]*).*/;
            var match = url.match(regExp);
            return match[1];
        }
        $('#video').html('<iframe width="100%" class="embed-responsive-item" src="https://www.youtube.com/embed/' + youtube_parser() + '"></iframe>')
        </script>
    }
}