@model ATAarhitektonskiStudio.ViewModels.LoginViewModel

@{
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Login - ATA Arhitektonski studio</title>
    @Styles.Render("~/Content/Bootstrap")
    @Styles.Render("~/Content/AdminCSS")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body class="login-body">
    <div class="login p-5">
        <h2 class="mb-3">ATA</h2>
        @using (Html.BeginForm("Check", "Login"))
        {
            <div class="form-group">
                <label for="Email">E-mail adresa</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control border-dark" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Lozinka</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control border-dark" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="form-group">
                <div class="inputGroup">
                    @Html.CheckBoxFor(m => m.isRemember)
                    <label class="border-dark" for="isRemember">Zapamti me</label>
                </div>
            </div>
            <div class="mt-3">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        }
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/AdminScripts")
</body>