@model ATAarhitektonskiStudio.ViewModels.ProjectViewModel
@{
    ViewBag.Title = Model.Name + "-";
}
@section styles{
    @Styles.Render("~/Content/projectCss")
}

@if (GlobalHelper.CurrentCulture == "en")
{
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="owl-carousel project-imgs-carousel">
                @if (!string.IsNullOrEmpty(Model.YoutubeVideoLink))
                {
                    <div class="project-img">
                        <div id="video"></div>
                    </div>
                }
                @foreach (var item in Model.Images)
                {
                    <div class="project-img">
                        <a href="~/@item.FilePath/@item.FileName" data-lightbox="listing-images-lb" class="project-img-plus"><i class="fas fa-plus"></i></a>
                        <img src="~/@item.FilePath/@item.FileName" alt="@item.FileName" />
                    </div>
                }
            </div>
            <div class="project-img text" id="projectText">
                <div class="project-text">
                    <h5><b>@Model.NameEng</b></h5>
                    <p class="mb-2">Location: <b>@Model.LocationEng</b></p>
                    <p class="mb-2">Type: <b>@Model.TypeEng</b></p>
                    <p class="mb-2">Year built: <b>@Model.YearBuiltEng</b></p>
                    <p class="mb-2">m<sup>2</sup>: <b>@Model.SquareMetersEng</b></p>
                    <p class="mb-2">Investor: <b>@Model.InvestorEng</b></p>
                    <p class="mb-0">@Html.Raw(Model.TextEng)</p>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="owl-carousel project-imgs-carousel">
                @if (!string.IsNullOrEmpty(Model.YoutubeVideoLink))
                {
                    <div class="project-img">
                        <div id="video"></div>
                    </div>
                }
                @foreach (var item in Model.Images)
                {
                    <div class="project-img">
                        <a href="~/@item.FilePath/@item.FileName" data-lightbox="listing-images-lb" class="project-img-plus"><i class="fas fa-plus"></i></a>
                        <img src="~/@item.FilePath/@item.FileName" alt="@item.FileName" />
                    </div>
                }
            </div>
            <div class="project-img text" id="projectText">
                <div class="project-text">
                    <h5><b>@Model.Name</b></h5>
                    <p class="mb-2">Lokacija: <b>@Model.Location</b></p>
                    <p class="mb-2">Tip: <b>@Model.Type</b></p>
                    <p class="mb-2">Godina izgradnje: <b>@Model.YearBuilt</b></p>
                    <p class="mb-2">m<sup>2</sup>: <b>@Model.SquareMeters</b></p>
                    <p class="mb-2">Investitor: <b>@Model.Investor</b></p>
                    <p class="mb-0">@Html.Raw(Model.Text)</p>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/projectScript")
    @if (!string.IsNullOrEmpty(Model.YoutubeVideoLink))
    {
    <script>
        function youtube_parser() {
            var url = "@Model.YoutubeVideoLink";
            var regExp = /^.*(?:(?:youtu\.be\/|v\/|vi\/|u\/\w\/|embed\/)|(?:(?:watch)?\?v(?:i)?=|\&v(?:i)?=))([^#\&\?]*).*/;
            var match = url.match(regExp);
            return match[1];
        }
        $('#video').html('<iframe width="100%" src="https://www.youtube.com/embed/' + youtube_parser() + '"></iframe>');
    </script>
    }
}