@model ATAarhitektonskiStudio.ViewModels.ContactViewModel
@{
    ViewBag.Title = "Kontakt -";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags{
    <link href="http://www.ata.ba/contact" rel="canonical" />
    <meta property="og:image" content="http://ata.ba/Content/images/logo-black.png">
    <meta name="keywords" content="@Model.ContactMetaKeywords" />
    <meta name="description" content="@Model.ContactMetaDescription" />
}

<div class="container-fluid">
    <div class="container-fluid mb-5 pb-3">
        <div class="row">
            <div class="col-xl-6 pr-xl-0">
                <div class="contact-info px-3">
                    <div class="ci-content">
                        <h3 class="mb-3 blk text-uppercase contact-heading">@RGlobal.ContactInfo</h3>
                        <p><a href="mailto:@Model.Email"> <i class="far fa-envelope"></i> @Model.Email</a></p>
                        <p><a href="tel:@Model.CellPhone"><i class="fas fa-mobile-alt"></i> @Model.CellPhone</a></p>
                        <p><a href="tel:@Model.OfficePhone"><i class="fas fa-phone"></i> @Model.OfficePhone</a></p>
                        <p><a href="tel:@Model.Fax"><i class="fas fa-fax"></i> @Model.Fax</a></p>
                        <h5 class="mb-0 mt-5">A T A arhitektonski studio d.o.o.</h5>
                        <p class="about-p">@RGlobal.ContactDescription</p>
                        <p class="mb-4"><i class="fas fa-map-pin"></i> @Model.Location</p>
                        <div class="top-bar-items clearfix">
                            @if (!string.IsNullOrEmpty(Model.FacebookLink))
                            {
                                <a class="social" target="_blank" href="@Model.FacebookLink">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            }
                            @if (!string.IsNullOrEmpty(Model.TwitterLink))
                            {
                                <a class="social" target="_blank" href="@Model.TwitterLink">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            }
                            @if (!string.IsNullOrEmpty(Model.InstagramLink))
                            {
                                <a class="social" target="_blank" href="@Model.InstagramLink">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            }
                            @if (!string.IsNullOrEmpty(Model.YoutubeLink))
                            {
                                <a class="social" target="_blank" href="@Model.YoutubeLink">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            }
                            @if (!string.IsNullOrEmpty(Model.PinterestLink))
                            {
                                <a class="social" target="_blank" href="@Model.PinterestLink">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                            }
                            @if (!string.IsNullOrEmpty(Model.LinkedinLink))
                            {
                                <a class="social" target="_blank" href="@Model.LinkedinLink">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            }
                            @if (!string.IsNullOrEmpty(Model.GooglePlusLink))
                            {
                                <a class="social" target="_blank" href="@Model.GooglePlusLink">
                                    <i class="fab fa-google-plus"></i>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 pl-xl-0">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script async defer src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCZ9ITEowmHPfUzKt0uM8eMCJi4sqKVozs&callback=initMap"></script>
    @Scripts.Render("~/bundles/contactScript")
}